button {
  width: 50px;
  height: 50px;
}

.minus {
  background-color: red;
  border-width: 0px;
  border-radius: 25px;
  margin-right: 10px;
}

.plus {
  background-color: blue;
  border-width: 0px;
  border-radius: 25px;
  margin-left: 10px;
}